* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
  font-family: sans-serif;
  cursor: none;
  background-color: #c33;
  font-family: 'Crimson Pro', serif;
}
body.clicked {
  overflow-y: scroll;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'DM Serif Display', serif;
}
h1 {
  font-size: 92px;
}
h2 {
  font-size: 54px;
}
h3 {
  font-size: 42px;
}

.text-container {
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  background: white;
  min-height: 100vh;
  transition: opacity 0.5s linear;
  padding: 50px 200px;
  display: flex;
  justify-content: center;
}
body.clicked .text-container {
  opacity: 1;
  visibility: visible;
}
.text {
  width: 100%;
  max-width: 800px;
  font-size: 20px;
}

/* HEART BEAT EFFECT */

.heart-container {
  overflow: hidden;
  visibility: visible;
  position: absolute;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  background-color: #c33;
  opacity: 1;
  transition: opacity 0.5s linear;
}

.heart-container.hidden,
.heart-container.hidden * {
  display: none !important;
  visibility: hidden !important;
  width: 0 !important;
  height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  opacity: 0 !important;
}

body.clicked .heart-container {
  opacity: 0;
}

.heart {
  position: absolute;
  width: 100px;
  height: 90px;
  top: calc(50% - 45px);
  left: calc(50% - 50px);
  animation: heartbeat 1s infinite;
}
.heart:hover {
  animation: ripple 1s linear infinite;
}
body.clicked .heart {
  animation: grow 1s;
}
@keyframes grow {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(50);
  }
}
@keyframes heartbeat {
  0% {
    transform: scale(0.75);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.75);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(0.75);
  }
}
@keyframes ripple {
  0% {
    -webkit-filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0))
      drop-shadow(0px 0px 20px rgba(255, 255, 255, 0))
      drop-shadow(0px 0px 40px rgba(255, 255, 255, 0));
  }
  40% {
    -webkit-filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.3))
      drop-shadow(0px 0px 20px rgba(255, 255, 255, 0.3))
      drop-shadow(0px 0px 40px rgba(255, 255, 255, 0.3));
  }
  60% {
    -webkit-filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.3))
      drop-shadow(0px 0px 20px rgba(255, 255, 255, 0.3))
      drop-shadow(0px 0px 40px rgba(255, 255, 255, 0.3));
  }
  100% {
    -webkit-filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0))
      drop-shadow(0px 0px 20px rgba(255, 255, 255, 0))
      drop-shadow(0px 0px 40px rgba(255, 255, 255, 0));
  }
}

/* CURSOR */

.cursor {
  position: fixed;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  z-index: 1;
  transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
    0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
  user-select: none;
  pointer-events: none;
  z-index: 10000;
  transform: scale(1);
}
.cursor:before,
.cursor:after {
  position: absolute;
  content: '';
  background: #fff;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
  background: white;
  top: 0;
  width: 10px;
  height: 16px;
  border-radius: 10px 10px 0 0;
}

.cursor:before {
  left: 10px;
}

.cursor:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

.cursor-follower {
  border: 1px solid white;
  position: fixed;
  width: 40px;
  height: 36px;
  border-radius: 100%;
  z-index: 1;
  transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
    0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity,
    0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) background;
  user-select: none;
  pointer-events: none;
  z-index: 10000;
  transform: translate(2px, 2px);
}

.cursor.red {
  animation: heartbeat 1s infinite;
}
.cursor.red:before,
.cursor.red:after {
  background: #c33;
}
.cursor-follower.red {
  border: 1px solid #c33;
}

body.clicked .cursor:before,
body.clicked .cursor:after {
  background: black;
}
body.clicked .cursor-follower {
  border: 1px solid black;
}

.mask {
  -webkit-clip-path: url(#svgPath);
  clip-path: url(#svgPath);
}

.breakfast-title {
  background: url('./assets/comida.jpg');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 550px auto;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.love-title {
  background: url('./assets/selfie13.jpeg');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 492px auto;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.moments-title {
  background: url('./assets/selfie18.jpeg');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 550px auto;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.cats-title {
  background: url('./assets/michis/ray2.jpeg');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 300px auto;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

#clipping-comida2 path {
  transform: scale(1.5) translate(80px, 72px);
}

#clipping-comida3 path {
  transform: scale(1.2) translate(131px, 111px);
}

.clip-svg {
  width: 0;
  height: 0;
  position: absolute;
  z-index: -999;
}

.relative {
  position: relative;
}

.michi-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.michi-container h2 {
  display: flex;
  align-items: center;
}

#comida2 {
  clip-path: url(#clipping-comida2);
  width: 300px;
  top: -90px;
  right: -300px;
  position: absolute;
}

#comida3 {
  clip-path: url(#clipping-comida3);
  width: 343px;
  top: -55px;
  left: -300px;
  position: absolute;
}

#selfie1 {
  clip-path: url(#clip-selfie1);
  width: 343px;
  top: -55px;
  left: -300px;
  position: absolute;
}
#selfie2 {
  clip-path: url(#clip-selfie2);
  width: 343px;
  top: 0px;
  right: -300px;
  position: absolute;
}
#selfie3 {
  clip-path: url(#clip-selfie3);
  width: 350px;
  top: 200px;
  right: -350px;
  position: absolute;
}
#selfie4 {
  clip-path: url(#clip-selfie4);
  width: 205px;
  top: 200px;
  left: -240px;
  position: absolute;
}
#selfie5 {
  clip-path: url(#clip-selfie5);
  width: 300px;
  top: 450px;
  left: -280px;
  position: absolute;
}
#selfie6 {
  clip-path: url(#clip-selfie6);
  width: 300px;
  top: 486px;
  left: 39px;
  position: absolute;
}
#selfie7 {
  clip-path: url(#clip-selfie7);
  width: 300px;
  top: 406px;
  right: -269px;
  position: absolute;
}
#clip-selfie1 path {
  transform: scale(1.2) translate(158px, 62px);
}
#clip-selfie2 path {
  transform: scale(1.2) translate(158px, 62px);
}
#clip-selfie3 path {
  transform: scale(1.75) translate(51px, 34px);
}
#clip-selfie4 path {
  transform: scale(1.25) translate(81px, 63px);
}
#clip-selfie5 path {
  transform: scale(1.5) translate(103px, 36px);
}
#clip-selfie6 path {
  transform: scale(1.5) translate(92px, 65px);
}
#clip-selfie7 path {
  transform: scale(3) translate(45px, 22px);
}

#clip-catri path {
  transform: scale(2) translate(64px, 92px);
}
#clip-nina path {
  transform: scale(2) translate(71px, 141px);
}
#clip-ray path {
  transform: scale(2) translate(69px, 116px);
}
#clip-luis path {
  transform: scale(2) translate(96px, 98px);
}
#clip-klaus path {
  transform: scale(2) translate(76px, 125px);
}
#clip-cebolla path {
  transform: scale(1.5) translate(158px, 103px);
}
#clip-leo path {
  transform: scale(2.5) translate(90px, 60px);
}
#clip-batman path {
  transform: scale(2) translate(57px, 111px);
}

#catri {
  clip-path: url(#clip-catri);
  width: 300px;
  position: absolute;
  right: -100px;
}
#nina {
  clip-path: url(#clip-nina);
  width: 300px;
  position: absolute;
  top: -220px;
  left: -25px;
}
#ray {
  clip-path: url(#clip-ray);
  width: 300px;
  position: absolute;
  top: -205px;
  right: -25px;
}
#luis {
  clip-path: url(#clip-luis);
  width: 450px;
  position: absolute;
  top: -158px;
  left: -51px;
}
#klaus {
  clip-path: url(#clip-klaus);
  width: 300px;
  position: absolute;
  top: -250px;
  right: -50px;
}
#cebolla {
  clip-path: url(#clip-cebolla);
  width: 500px;
  position: absolute;
  top: -112px;
  left: -150px;
}
#leo {
  clip-path: url(#clip-leo);
  width: 500px;
  position: absolute;
  top: -103px;
  right: -150px;
}
#batman {
  clip-path: url(#clip-batman);
  width: 250px;
  position: absolute;
  top: -184px;
  left: -25px;
}

.catri {
  color: #5acc72;
}
.nina {
  margin-top: 100px;
  color: #5ab1cc;
}
.ray {
  margin-top: 100px;
  color: #a25acc;
}
.luis {
  margin-top: 100px;
  color: #cc5a6d;
}
.klaus {
  margin-top: 100px;
  color: #969696;
}
.cebolla {
  margin-top: 100px;
  color: #c1cc5a;
}
.leo {
  margin-top: 100px;
  color: #cc7e5a;
}
.batman {
  margin-top: 100px;
  color: #3f3f3f;
}

.all-moments-container,
.all-michis-container {
  margin-top: 150px;
}
